* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #F2F2F2;
    border-bottom: 1px solid #F0D0D6;
}

nav {
    list-style: none;
    text-align: center;

}

nav ul li {
    display: inline-block;
    padding: 20px;
}

a {
    color: rgb(71, 71, 71);
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

body {
    background-image: url("../img/bgff.webp");
}

a:hover {
    color: #CF537D;
}

.logo {
    display: inline;
    height: 5rem;
    vertical-align: middle;
}

#logotext {
    display: inline;
    color: #CF537D;
}

aside {
    height: 100%;
    width: 17%;
    background-color: pink;
    vertical-align: top;
    display: inline-block;
    position: absolute;
}

.imgaside{
    text-align: center;
    padding: 1rem;
}

#contenedor {
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px;
    margin-left: 20%;
}

.contenedor{
    text-align: center;
    padding: 3rem;
}

.mingoimg{
    width: 40%;
}

.titulos{
    color: #CF537D;
}

footer {
    border-top: 2px solid #F0D0D6;
    padding-top: 2rem;
    min-height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.contactos{
    margin-left: 2rem;
}
.contactos ul{
    font-size: small;
    margin-left: 2rem;
    text-decoration: none;
    list-style: none;
}
